:root {
  --text-color: #2f353d;
  --link-color: #1874ff;
  --head-color: #17191c;
  --emoji-bgcolor: #418cfe;

  --title-bgcolor: #eaf4ff;
  --table-brdcolor: #cbcbcb;

  --size-border: 0.0625rem;
  --elements-font-size: 1.125rem;
  --elements-line-height: 1.875rem;
}

html {
  font-size: 100%;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.title_block {
  margin-top: 6rem;
  padding: 4rem 0rem 4rem 0rem;
  background-color: var(--title-bgcolor);
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--head-color);
  font-weight: 700;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--head-color);
  font-weight: 600;
  line-height: 2rem;
}

.image_block {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_block img {
  width: 64rem;
  height: 40.375rem;
  border-radius: 1rem;
}

.inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

article {
  width: 43.875rem;
}

p {
  width: 43.875rem;
  font-size: var(--elements-font-size);
  font-weight: 300;
  line-height: var(--elements-line-height);
}

article p {
  padding-bottom: 1.5rem;
  width: 100%;
}

article p:last-child {
  padding-bottom: 0;
}

li {
  font-size: var(--elements-font-size);
  line-height: var(--elements-line-height);
  padding-bottom: 0.5rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

table {
  margin: 0 auto;
  margin-bottom: 2.625rem;
  border-collapse: collapse;
  width: 100%;
}

.row-without-border {
  border-bottom: var(--size-border) solid var(--table-brdcolor);
}

th,
td {
  font-size: var(--elements-font-size);
  line-height: var(--elements-line-height);
  padding: 0.35rem 1rem;
  color: var(--text-color);
  text-align: center;
}

th {
  font-weight: 400;
  padding-bottom: 0.1rem;
}

td {
  font-weight: 300;
  border-right: var(--size-border) solid var(--table-brdcolor);
  border-left: var(--size-border) solid var(--table-brdcolor);
}

td:first-child {
  text-align: left;
}

tr:last-child td {
  border-bottom: var(--size-border) solid var(--table-brdcolor);
}

.emoji-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.9688rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.emoji {
  width: 3rem;
  height: 3rem;
}

.emoji-container img.clicked {
  position: relative;
  border-radius: 50%;
  background-color: var(--emoji-bgcolor);
  width: 1.6875rem;
  height: 1.6875rem;
  padding: 0.625rem;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 1080px) {
  .image_block img {
    width: calc(100% - 3rem);
    height: fit-content;
  }

  .image_block {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
  .image_block img {
    width: calc(100% - 3rem);
    height: fit-content;
  }
  .image_block {
    margin-top: 2rem;
  }

  .inner_container {
    padding: 0 1.5rem;
  }

  p {
    width: 100%;
  }

  article {
    width: 100%;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 45.0313rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .inner_container {
    padding: 0 1rem;
  }

  .image_block img {
    width: calc(100% - 2rem);
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 45.0625rem;
  }

  th,
  td,
  li,
  p {
    line-height: 1.5rem;
  }
}
